@charset "utf-8";

#click {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.flex-container {
    display: inline-flex;
    position: relative;
}

.flex-item {
    margin: 10px;
}

table {
    border: 10px solid;
    border-collapse: collapse;
}

th, /*표 내부 테두리*/
td {
    border: 1px solid;
}